.chapterList {
    position: relative;
    text-align: center;
    min-height: 6rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgb(139, 138, 138);
    transition: all 0.3s;

}

.chapterList:hover {
    box-shadow: 2px 3px 10px rgb(36, 35, 35);
}

.c-item {
    padding: 2rem 2rem;

}

.separate {
    height: 1rem;
}
