* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2rem calc(50% - 450px + 2rem);
    /*padding: 2rem 1rem;*/
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

@media screen and (max-width: 960px){
    body {
        padding: 2rem 1rem;
    }
}


.key-word {
    position: relative;
    white-space: nowrap;
    color: rgb(238, 88, 104);
}

.key-word:before {
    content: attr(data);
    position: absolute;
    width: 5rem;
    background-color: #efba93;
    background-image: linear-gradient(to right bottom, #ef9856, #e3ae63);
    color: #fff;
    text-align: center;
    padding: 14px;
    line-height: 1.1;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition: all .5s;
    bottom: 122%;
    left: 50%;

    margin-left: -50px;
    font-size: 0.8rem;
    visibility: hidden;
    white-space: normal !important;
}
.key-word:after {
    content: "";
    position: absolute;
    bottom: 75%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: all .5s;
    border-color: #000 transparent transparent transparent;
    visibility: hidden;
}

.key-word:hover:before,
.key-word:hover:after {
    opacity: 1;
    visibility: visible;
}

.hei-mu {
    background-color: #252525;
    color: #252525;
    transition: color 0.3s;
}

.hei-mu:hover {
    color: #fff;
}

.pin-yin {
    white-space: nowrap;
    color: rgb(42, 176, 176);
}

.title {
    text-align: center;
}